@namespace Fortifex4.WebUI.Shared.Layouts

@inherits LayoutComponentBase

<div class="outer">
    <AuthorizeView>
        <NavMenu />
    </AuthorizeView>
    <div class="main-container">
        <AuthorizeView>
            <TopBar />
        </AuthorizeView>

        <main role="main">
            @Body
        </main>
    </div>
</div>