@namespace Fortifex4.WebUI.Shared.Layouts
@inherits LayoutComponentBase

@inject IJSRuntime JsRuntime

<div class="outer">
    <AuthorizeView>
        <NavMenu />
    </AuthorizeView>
    <div class="main-container">
        <AuthorizeView>
            <TopBar />
        </AuthorizeView>

        <main role="main">
            @Body
        </main>
    </div>
</div>

@code
{
    // FINALLY.... after few days, this is the unpredictable SOLUTION for Bug: JsRuntime Won't Initialize ToggleCheckbox (@_@)
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("Toggle.init");
        }
    }
}