@layout AnonymousLayout
@page "/account/register"

@inject IAuthenticationService _authenticationService
@inject ActivateMemberState activateMemberState

@implements IDisposable

<PageTitle Title="Register" />

<div class="row no-gutters h-100">
    <div class="col">
        <div class="centered-position">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0.3)">
                            @if (activateMemberState.ShowActivationMessage)
                            {
                                <RegistrationSucceed />
                            }
                            else
                            {
                                <SignUp />

                                <div class="form-group">
                                    <p>
                                        <a href="/account/login">I already have an account</a>
                                    </p>
                                    <div class="external-providers">
                                        <a class="btn btn-icon" href="/api/account/login-external?scheme=Google">
                                            <span class="icon icon-google"></span>
                                            <span class="icon icon-text">Sign in with Google</span>
                                        </a>
                                        <a class="btn btn-icon" href="/api/account/login-external?scheme=Facebook">
                                            <span class="icon icon-facebook"></span>
                                            <span class="icon icon-text">Sign in with Facebook</span>
                                        </a>
                                    </div>
                                </div>
                            }
                        </Animate>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="dark-side">
            <img src="images/fortifex-logo-link-black.jpg" />
        </div>
    </div>
</div>