@layout AnonymousLayout
@page "/account/register"

@inject IAuthenticationService _authenticationService
@inject ActivateMemberState activateMemberState

@implements IDisposable

<PageTitle Title="Register" />

<div class="row no-gutters h-100">
    <div class="col">
        <div class="centered-position">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        @if (activateMemberState.ShowActivationMessage)
                        {
                            <RegistrationSucceed />
                        }
                        else
                        {
                            <SignUp />

                            <div class="form-group">
                                <p>
                                    <a href="/account/login">I already have an account</a>
                                </p>
                                <div class="external-providers">
                                    <a class="btn btn-icon" href="">
                                        <span class="icon icon-google"></span>
                                        <span class="icon icon-text">Sign in with Google</span>
                                    </a>
                                    <a class="btn btn-icon" href="">
                                        <span class="icon icon-facebook"></span>
                                        <span class="icon icon-text">Sign in with Facebook</span>
                                    </a>
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="dark-side">
            <img src="images/fortifex-logo-link-black.jpg" />
        </div>
    </div>
</div>