@namespace Fortifex4.WebUI.Shared.Common.Modal
@attribute [Authorize]

@inject IAuthenticationService _authenticationService
@inject IBlockchainsService _blockchainsService
@inject IProjectsDocumentService _projectsDocumentService

<BaseModal @ref="BaseModal"
           ModalTitle="@Title"
           IsLoading="IsLoading"
           OnSubmit="SubmitAsync">
    <ChildContent>
        <EditForm Model="Input" OnValidSubmit="SubmitAsync">
            <DataAnnotationsValidator />

            <div class="form-row">
                <div class="form-group col-6">
                    <label class="col-form-label">Title</label>
                    <InputText @bind-Value="Input.Title" class="form-control" placeholder="Title" />
                    <span class="text-danger">
                        <ValidationMessage For="@(() => Input.Title)" />
                    </span>
                </div>
                <div class="form-group col-6">
                    <label class="col-form-label">Upload File Document Project</label>
                    <br />
                    <label for="upload" type="button" class="btn btn-sm btn-primary">Upload Image</label>
                    <InputFile OnChange="HandleFileSelected" class="text-center form-control-file custom_file" id="upload" />
                    <label for="file_default">No File Choosen </label>
                    <label for="file_name"><b></b></label>
                    
                    <span class="text-danger">
                        <ValidationMessage For="@(() => Input.FormFileProjectDocument)" />
                    </span>
                </div>
            </div>

        </EditForm>
    </ChildContent>
</BaseModal>