@namespace Fortifex4.WebUI.Shared.Common

<aside>
    <div class="logo-sidebar">
        <a class="navbar-brand" href="portfolio">
            <img class="logo-sidebar-img" src="images/fortifex-logo-black.png" />
        </a>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="photo-profile">
                <img class="user-photo-img" src="images/user.png" />
                <div class="profile-name">
                    <p class="text-dark">
                        <a href="MyProfile">
                            @context.User.Identity.Name
                        </a>
                    </p>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
    <ul class="nav flex-column menu-item">
        <li class="nav-item">
            <NavLink class="nav-link text-dark" href="wallets">
                <img class="icon-menu" src="images/fortifex-wallet.png" />
                Wallets
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-dark" href="exchanges">
                <img class="icon-menu" src="images/fortifex-exchanges.png" />
                Exchanges
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-dark" href="portfolio" Match="NavLinkMatch.All">
                <img class="icon-menu" src="images/fortifex-portfolio.png" />
                Portfolio Summary
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-dark" href="transactions">
                <img class="icon-menu" src="images/fortifex-transactions.png" />
                Transactions
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-dark" href="piecharts">
                <img class="icon-menu" src="images/fortifex-piechart.png" />
                Pie Charts
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-dark" href="projects">
                <i class="icon-menu fas fa-network-wired"></i>
                Projects
            </NavLink>
        </li>
    </ul>
</aside>